html, body {
  background-color: #cccccc;
  height: 100%;
  /* overflow-y: hidden; */
}

.card {
  border: none;
}
.card-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}
.footer {
  margin-top: -0.5rem;
  padding-bottom: 1.5rem;
}
.navbar-brand-text {
  font-weight: 200;
  line-height: 1.2;
}
.row.justify-content-center.align-items-center {
  height: 40%;
  min-height: 35%;
}
.jumbotron {
  margin-bottom: 0;
}
